@media screen and (min-width: 600px) {
  .window-frame-content {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .window-frame-content {
    width: 40rem;
    margin: auto;
  }

  .about-content {
    flex-direction: row;
    gap: 10px;
  }

  #portrait {
    width: 100rem;
    margin-top: 10px;
    background: url("assets/portrait.png") no-repeat center center;
    background-size: cover;
    border-radius: 6px;
  }
}
