/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* WINDOW DECORATION */

.window-frame {
  position: fixed;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  top: 10px;
  left: 10px;
  padding: 0; /* Remove padding */
  background: #f4f4f4;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
}

.window-frame-content {
  padding: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f4f4f4;
}

.notch {
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
}

/* MOBILE NAV */

.logo-button {
  position: fixed;
  top: 21px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
  color: #4c4c4c;
  font-family: "Aldrich", sans-serif;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.logo-button h1 {
  font-size: 0.9rem;
  font-weight: 400;
}

/* SECTIONS */

section {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  font-size: 1.3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
}

.description {
  font-size: 0.9rem;
  padding: 10px;
}

/* PROJECTS SECTION */

.project-container {
  width: 100%;
  background: white;
  overflow: auto;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
}

.project-top-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 8px 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.project-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  width: 100%;
  height: 290px;
  padding: 10px;
  color: #6e6e6e;
  box-sizing: border-box;
}

.project-title-container h3 {
  font-family: "Aldrich", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
}

.project-title-container h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#project-void .project-title-container {
  background: #e8ff8a;
  color: #64741f;
}

#project-fabrics .project-title-container {
  background: #ffcbfe;
  color: #755074;
}

.project-more-info {
  /* margin-top: 10px; */
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #aeaeae;
  letter-spacing: 0.05em;
}

/* WORK SECTION */

#work-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #e7e7e7;
  border-radius: 6px;
  box-sizing: border-box;
}

#work-placeholder p {
  font-size: 0.8rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #6e6e6e;
}

/* ABOUT SECTION */

#portrait {
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: auto;
  background: url("assets/portrait.png") no-repeat center center;
  background-size: cover;
  border-radius: 6px;
}

/* CONTACT */

#contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #ffffff;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

/* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  font-size: 0.7rem;
  font-family: "Aldrich", sans-serif;
}

/* ICONS */

/* BUTTONS */
